@charset "utf-8";
/********************************************
*********************************************  
   Project ===== Title
   FileName === base.css
   Author ===== VRICKS REPUBLIC
   Date ======= 2012-00-00
   Last ======= 2012-00-00
*********************************************
********************************************/

@font-face {font-family: Charlotte;src:url("../images/font/Charlotte_Text_M.eot");}
@font-face {font-family: Charlotte;src: url("=../images/font/Charlotte_Text_M.eot"=); /* IE9 Compat Modes */ src: url("../images/font/Charlotte_Text_M.eot?#iefix") format('embedded-opentype'); /* IE6-IE8 */src: local('$'), url('../images/font/Charlotte_Text_M.woff') format('woff'), url('../images/font/Charlotte_Text_M.ttf') format('truetype'); }
 

* {margin:0;padding:0;}
html {}
body {font:12px/1.3em "돋움",Dotum, "굴림",Gulim,Helvetica,AppleGothic,sans-serif;color:#838282;}
div, form, p, dl, dt, dd {}
h1, h2, h3, h4, h5, h6, h7 {font-size:100%;font-weight:normal;}
ul, ol, li { list-style:none;}

a:link {color:#838282;text-decoration:none;}
a:visited {color:#838282;text-decoration:none;}
a:hover {color:#838282;text-decoration:none;}
a:active {color:#838282;text-decoration:none; }
a:focus{text-decoration:none;}/*text-decoration:underline;*/

table {width:100%;}
table, tbody, tfoot, thead, tr, th, td {border-collapse:separate;border-spacing:0;;}/*table-layout:fixed border:none; separate*/
/* 6 */* html table, tbody, tfoot, thead, tr, th, td {border-collapse:collapse;}
/* 7 */* + html table, tbody, tfoot, thead, tr, th, td {border-collapse:collapse;}

caption {display:none;}
fieldset {border:none;}
legend {display:none;}

textarea {resize: none;} /* 크롬,사파리 */
button{cursor:pointer;}
select {vertical-align:middle;font:12px "돋음",Dotum;color:#666;padding:1px;}
input, button, select, textarea {color:#919191; vertical-align:middle;}

address{font-style:normal;}
em {font-style:normal;}
hr {display:none;}
img {border:none;vertical-align:middle;}
/*br {display:none;}*/
/* html5 block*/
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}